<!-- extend layout -->
{% extends "layout.html" %}
{% block title %}商品详情{% endblock %}
{% block content %}

  <div class="panel">
    <div class="title">
      <h2>商品详情</h2>
      <div class="table"></div>
    </div>
    <div class="content">
      <table class="table table-striped" cellpadding="30">
        <thead>
          <tr>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">商品名称:</th>
            <td>{{supply.name}}</td>
          </tr>
          <tr>
            <th scope="row">类别:</th>
            <td>{{supply.city}}</td>
          </tr>
          <tr>
            <th scope="row">商品条形码:</th>
            <td>{{supply.buyer}}</td>
          </tr>
          <tr>
            <th scope="row">规格:</th>
            <td>{{supply.order_contact}}</td>
          </tr>
          <tr>
          	<th scope="row">图片:</th>
          </tr>
          <tr>
            <th scope="row">进价:</th>
            <td>{{supply.city}}</td>
          </tr>
          <tr>
            <th scope="row">零售价:</th>
            <td>{{supply.address}}</td>
          </tr>          
          <tr>
            <th scope="row">供应商:</th>
            <td>{{supply.email}}</td>
          </tr>
          <tr>
        </tbody>
      </table>

    </div>
  </div>
  
{% endblock %}



{% endblock %}
