<!-- extend layout -->
{% extends "layout.html" %}

{% block content %}
  <div class="panel">
    <div class="title">
      <h2>员工信息</h2>
      <div class="table"></div>
    </div>
    <div class="content">
      <table class="table table-striped" cellpadding="30">
        <thead>
          <tr>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">姓名:</th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th scope="row">邮箱:</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th scope="row">分组:</th>
            <td>{{user.group}}</td>
          </tr>
          <tr>
            <th scope="row">权限:</th>
            <td>{{user.right}}</td>
          </tr>
          <tr>
            <th scope="row">图片:</th>
            <td><img src="{{user.avatar()}}" width="150" height="150" /></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
